.title {
    height: 310px;
    background-color: #b90909;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #b90909;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    font-weight: bold;
}

.fireworks {
    background-color: #ffffff;
    padding-top: 45px;
    padding-bottom: 55px;
}

.feature {
    display: flex;
    justify-content: space-between;
    width: 930px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.fireworks h2 {
    color: #c95d5d;
    font-size: 1.92rem;
    line-height: 1.4;
    letter-spacing: 0.13rem;
    text-align: center;
}

.feature-text p {
    font-size: 15px;
    line-height: 28px;
    margin-top: 25px;
}

.image {
    width: 930px;
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    .fireworks-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .fireworks-list li {
        width: 220px;
        margin-left: 30px;
    }
}