.oidendance {
    background-color: #000000;
    padding-top: 45px;
    padding-bottom: 55px;
}

.oidendance h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.oidendance h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.oidendance-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.oidendance-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
    overflow: scroll;
}

.oidendance-list li:first-child {
    margin-left: 0;
}

@media (max-width: 800px) {
    .oidendance-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .oidendance-list li {
        width: 220px;
        margin-left: 30px;
    }
}